In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

%matplotlib inline

In [6]:
columns = ["Alcohol","Malic acid","Ash","Alcalinity of ash","Magnesium","Total phenols","Flavanoids",
           "Nonflavanoid phenols","Proanthocyanins","Color intensity","Hue","OD280/OD315 of diluted wines","Proline" ]

raw_data = pd.read_csv("wine.data", sep=",", names=columns)
raw_data

,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,"1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"1,13.2,1.78,2.14,11.2,100,2.65,2.76,.26,1.28,4...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"1,13.16,2.36,2.67,18.6,101,2.8,3.24,.3,2.81,5....",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"1,14.37,1.95,2.5,16.8,113,3.85,3.49,.24,2.18,7...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"1,13.24,2.59,2.87,21,118,2.8,2.69,.39,1.82,4.3...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,"3,13.71,5.65,2.45,20.5,95,1.68,.61,.52,1.06,7....",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174,"3,13.4,3.91,2.48,23,102,1.8,.75,.43,1.41,7.3,....",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175,"3,13.27,4.28,2.26,20,120,1.59,.69,.43,1.35,10....",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,"3,13.17,2.59,2.37,20,120,1.65,.68,.53,1.46,9.3...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,"3,14.13,4.1,2.74,24.5,96,2.05,.76,.56,1.35,9.2...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN